{{> head }}
{{> navbar }}

<div class="row">

  <div class="col-8">
    <h1>Capitan America</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis recusandae, quos eos sequi amet ipsum deserunt iure perferendis iste, ab officiis. Tempore voluptas eaque perspiciatis repellendus eum molestiae id commodi?</p>
    
  </div>

  <div class="col-4">
    <img src="assets\img\16.bmp" class="img-thumbnail">
  </div>

</div>

{{> footer }}